@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FantasyFont';
    src: url('/Fantasy-Font.ttf') format('truetype');
}

.fantasy-title {
    font-family: 'FantasyFont', sans-serif;
}
